{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
        <h1 align="center"><b>لیست کار های شما</b></h1>
            <h2 align="center">تعداد کارهای انجام شده: {{ todo_list.count }}</h2>
        {% if todo_list %}

            {% for todo in todo_list %}
                <ul class="list-group">

                    <li class="list-group-item">
                        <a href="{% url 'todo_app:detail' todo.pk %}"
                           class="btn btn-primary btn-lg btn-block {% if todo.important %}btn-danger{% endif %}"
                           role="button" aria-pressed="true">
                                <h2>عنوان کار: {{ todo.title }}</h2>
                                <p>تاریخ ثبت: {{ todo.get_jalali_date|date:'Y/m/d' }}</p>
                        </a>
                    </li>

                </ul>

            {% endfor %}
        {% endif %}
        </div>

    </div>

{% endblock %}