{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} افزودن {% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h1 style="font-family: 'B Nazanin'">افزودن یک کار جدید</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="افزودن">
            </form>
        </div>

    </div>

{% endblock %}